@import "mixin.scss";
@import "init.scss";

* {
    direction: rtl;
    font-family: vazirmatn;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// --------------breadcrumb-----------------
.crumb {
    background-color: #f2f3f5;
    height: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    font-size: 14px;
}


.crumb-item:hover {
    color:orange;
    
}

// ------------- breadcrumb end----------------
//---------------sideBar-------//
.listGroup-header{
    background-color: #f39700 !important;
    border: none;
    color: white;
    
}

// ------------------traffic-------------------
.body-info {
    background-color: #e8e8e8;
    font-size:14px;
    color: rgb(87, 87, 87);
    direction: rtl;
}

.para-about-trafic {
    text-align: justify;
}

.img-traffic {
    border: 1px solid rgb(207, 207, 207);
}

.traffic-icons {
    background-color: #5f5f64;
    padding-top: 3px;
    padding-bottom: 3px;
}


.traffic-icons:hover {
    background-color:orange;
    border-radius:7px;
}

.rmtolink {
    color:rgb(99, 147, 209);

}
.rmtolink:hover {
    color:orange;
}

.print {
    border: none;
    background-color: rgb(0, 65, 123);
    padding: 5px 20px;
    border-radius:7px;
    color: #e8e8e8;
    
  

}

.print:hover {
    background-color:orange;
}
// ------------------------traffic-----------------------


// ----------------------------footer-------------------------------------------------

footer {
    background-color: #03203e ;


}

div .footer-container {
    width: 100%;
}


.footer-link {
    display: block;
    text-decoration: none;

}

.footer-link:hover {
    color:#fd7e2a;
}

.footer-link,
.footer-para {
    color: white;
    font-size: 14px;
    letter-spacing: -1px;
    text-align: justify;
}

.footer-para {
    line-height: 13px;
}

.footer-link {

    white-space: nowrap;
}

.email-img {
    filter: none;
    mix-blend-mode: normal;
    opacity: 1;
}

h6 {
    color: white;
}

.footer-section3-h6 {
    color: white;
}


hr {
    border: none;
    height: 1px;
    background-color: white;
    opacity: 1;
}

.footer-section3 {
    margin-top: 13px;


}

.footer-section3>img {
    height: 230px;

}



// -----------{--------------------------copy right-------------------------------// // }
.copyright-para {

    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    font-weight: normal;
    padding: 7px;
    letter-spacing: -1px;

}

.copyright-para-b {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    font-weight: normal;
    border-left: 1px solid rgb(68, 65, 65);
    padding: 7px;
    letter-spacing: -1px;

}

.container-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// -------------------------after copy right------------------------------------
.after-copyright-logo {

    border-left: 10px solid rgb(27, 27, 27);

}

.after-copyright-para {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
    font-weight: normal;
    line-height: 8px;

}

.after-copyright-link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
    font-weight: normal;
    text-decoration: none;
    color: rgb(88, 88, 184);
}

.after-copyright-link:hover {
    // color: $footer-link-color;

}
